/.venv/
__pycache__/
*.py[cod]
.pytest_cache/
/.idea/
/.vscode/
/build/
/dist/
/downloads/*.exe
*.spec
/.build_*.cmd
/.build_*.txt
/.build_*.iss
/NuGetCrashReport*
/logs/
/config/settings.json
/models/
/ffmpeg/
nuitka-crash-report.xml
